<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><!-- <img src="/assets/secure-icon.png"  width="20%" /> --></h1>
            <p>Login or Sign-up here</p>
            <a href="/auth/login" class="btn btn-primary btn-block">Login</a>
            <a href="/auth/register" class="btn btn-secondary btn-block mb-2">Sign-up</a>
        </div>
    </div>
</div>